body {
  background-color: rgb(255, 204, 204);
  background-size: 100%;
  background-position: center fixed;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Karla", sans-serif;
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 550%;
  color: rgba(36, 71, 37, 0.993);
}

.collapsible {
  background-color: rgba(36, 71, 37, 0.7);
  color: #ebffe4;
  font-size: 120%;
  font-family: "Karla", sans-serif;
  cursor: help;
  padding: 0.5rem;
  width: 20%;
  border: none;
  border-radius: 0.7rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding: 0.4rem 2rem;
  display: none;
  overflow: hidden;
  color: rgba(36, 71, 37, 0.993);
  background-color: #fab4b4e6;
  font-size: 20%;
}

#collText {
  letter-spacing: 0.05rem;
  font-size: 500%;
  line-height: 150%;
  font-family: "Karla", sans-serif;
  color: black;
}

/* fix picure AFTER every edit = this should be 
one of the last things you do = focus first on the form
itself, and background styling after */
form {
  background-color: rgba(243, 255, 243, 0.349);
  background-image: url("./copy-toni-cuenca-CvFARq2qu8Y-unsplash.jpg");
  background-size: 1300px;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  border-radius: 0.2rem;
  justify-self: center;
  width: 80%;
  /* padding-left: 5%; */
  padding-top: 1%;
  padding-left: 5%;
}

p {
  font-family: "Karla", sans-serif;
  color: rgb(250, 215, 215);
  letter-spacing: 0.02rem;
  font-size: 130%;
  font-weight: 500;
}

submit {
  font-family: "Karla", sans-serif;
  letter-spacing: 0.02rem;
}

/* #firstInput {
  width: 70%;
  padding: 1rem 1rem;
} */

#firstInput:focus {
  border: 0.05rem solid #555;
}

button {
  width: 15%;
  padding: 0.25rem 0.5rem;
  background-color: rgb(235, 235, 235);
  font-family: "Karla", sans-serif;
  font-size: 100%;
  letter-spacing: 0.02rem;
}

#beHonest {
  font-size: 80%;
  letter-spacing: 0.05rem;
  font-family: "Karla", sans-serif;
  margin-left: 2rem;
}

label {
  font-family: "Karla", sans-serif;
  letter-spacing: 0.02rem;
  font-size: 110%;
  color: rgb(226, 211, 211);
  font-weight: 400;
}

#gifts {
  font-size: 110%;
}

#button4 {
  font-family: "Karla", sans-serif;
  font-size: 110%;
}

#button5 {
  font-family: "Karla", sans-serif;
  cursor: not-allowed;
  font-size: 110%;
}
