body {
  background-color: rgb(255, 204, 204);
  background-size: 100%;
  background-position: center fixed;
  background-repeat: no-repeat;
  margin: 0;
}

/* Snow background */

#snow,
#snow:before,
#snow:after {
  position: absolute;
  top: -600px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(
      5px 5px at 34px 172px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(4px 4px at 86px 25px, #ffffff 50%, rgba(0, 0, 0, 0)),
    radial-gradient(5px 5px at 388px 47px, #ffffff 50%, rgba(0, 0, 0, 0)),
    radial-gradient(3px 3px at 53px 303px, #ffffff 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      4px 4px at 373px 475px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 196px 261px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 434px 424px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 234px 213px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 393px 356px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 537px 497px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 151px 362px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 110px 99px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 270px 111px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 351px 424px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 459px 279px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 584px 126px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(6px 6px at 303px 486px, #ffffff 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      3px 3px at 132px 292px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(3px 3px at 120px 162px, #ffffff 50%, rgba(0, 0, 0, 0)),
    radial-gradient(5px 5px at 396px 460px, #ffffff 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      5px 5px at 169px 508px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 177px 298px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 575px 410px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 29px 140px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 82px 378px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(4px 4px at 482px 473px, #ffffff 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      6px 6px at 56px 24px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 157px 73px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(6px 6px at 97px 496px, #ffffff 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      6px 6px at 240px 225px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 12px 102px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 518px 417px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 323px 155px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 534px 119px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 294px 245px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(3px 3px at 270px 432px, #ffffff 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      3px 3px at 406px 292px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 42px 233px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 109px 160px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 158px 359px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 212px 133px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 303px 536px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 513px 314px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 54px 346px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(6px 6px at 127px 115px, #ffffff 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      3px 3px at 559px 29px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(4px 4px at 493px 581px, #ffffff 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      5px 5px at 339px 414px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(3px 3px at 349px 481px, #ffffff 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      3px 3px at 331px 86px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(5px 5px at 497px 385px, #ffffff 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      3px 3px at 65px 332px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 432px 593px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 377px 240px,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 293px 224px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 455px 336px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(3px 3px at 93px 50px, #ffffff 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      6px 6px at 129px 453px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      4px 4px at 393px 78px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 364px 75px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      5px 5px at 66px 19px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(6px 6px at 254px 199px, #ffffff 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      5px 5px at 178px 454px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 499px 280px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      6px 6px at 419px 40px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 179px 593px,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      3px 3px at 66px 529px,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(6px 6px at 498px 329px, #ffffff 50%, rgba(0, 0, 0, 0)),
    radial-gradient(
      5px 5px at 381px 464px,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(4px 4px at 172px 17px, #ffffff 50%, rgba(0, 0, 0, 0));
  background-size: 600px 600px;
  animation: snow 5s linear infinite;
}

#snow {
  background: none;
  z-index: -1;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake1.png"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake2.png"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake3.png");
  height: 235%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}
@-moz-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 400px 1000px, 200px 400px, 100px 300px;
  }
}
@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}
@-ms-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}

/* End of snow background */

h1 {
  font-family: "Karla", sans-serif;
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 550%;
  color: rgba(36, 71, 37, 0.993);
}

.collapsible {
  background-color: rgba(36, 71, 37, 0.849);
  color: #ebffe4;
  font-size: 120%;
  font-family: "Karla", sans-serif;
  cursor: help;
  padding: 0.5rem;
  width: 20%;
  border: none;
  border-radius: 0.7rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding: 0.4rem 2rem;
  display: none;
  overflow: hidden;
  color: rgba(36, 71, 37, 0.993);
  background-color: #fab4b4e6;
  font-size: 20%;
}

#collText {
  letter-spacing: 0.05rem;
  font-size: 500%;
  line-height: 150%;
  font-family: "Karla", sans-serif;
  color: black;
}

/* Snowglobe */

.canvas {
  --size: 35vmin;
  width: var(--size);
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-290%, -130%);
}

@keyframes shake {
  0%,
  50%,
  100% {
    transform: translate(-290%, -130%) rotate(0deg) translate(0, 0);
  }
  25% {
    transform: translate(-290%, -130%) rotate(4deg) translate(0, -10%);
  }
  75% {
    transform: translate(-290%, -130%) rotate(-6deg) translate(0, -12%);
  }
}

.canvas:active {
  animation: shake 1s infinite;
}

.canvas div,
.canvas div::before,
.canvas div::after {
  position: absolute;
  box-sizing: border-box;
  display: block;
}

.base {
  width: 60%;
  height: 26%;
  bottom: 0;
  left: 20%;
  border-radius: 100% / 40%;
  background: radial-gradient(100% 50% at 50% 14%, #000, #0000 80%),
    linear-gradient(to right, #0004, #0000, #0004);
  background-color: #222;
}

.base ~ .base {
  -webkit-mask: radial-gradient(100% 50% at 50% 14%, #0000 50%, #000 51%);
  mask: radial-gradient(100% 50% at 50% 14%, #0000 50%, #000 51%);
  background: radial-gradient(150% 112% at 50% 0%, #000 38%, #0000 0),
    radial-gradient(100% 50% at 50% 14%, #000, #0000 80%),
    linear-gradient(to right, #0004, #0000, #0004),
    repeating-linear-gradient(to right, #444 0 1.2%, #666 1.4%, #333 0 2.4%);
  z-index: 3;
}

.bowl {
  top: 0;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: #beeeef33;
  border-radius: 50%;
  overflow: hidden;
}

.bowl + .bowl {
  z-index: 2;
  background: #beeeef33;
  box-shadow: inset 0 0 2vmin #fff8, inset 3vmin 0 5vmin #0003,
    inset -3vmin 0 5vmin #0003, inset 0 -20vmin 3vmin -14vmin #0007;
}

.ground {
  width: 80%;
  height: 15%;
  border-radius: 50%;
  background: white;
  top: 69%;
  left: 50%;
  transform: translateX(-50%);
}

.snow {
  width: 97.5%;
  height: 95%;
  border-radius: 50%;
  background: linear-gradient(#0000 79%, #eee 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset -2vmin 2vmin 4vmin -2vmin #fffa,
    inset 2vmin 0 4vmin -2vmin #0001;
}

.reflection {
  width: 45%;
  height: 18%;
  background: #f003;
  background: linear-gradient(#fff4, #fff0);
  border-radius: 50%;
  top: 13%;
  left: 60%;
  transform: rotate(17deg) translateX(-50%);
}

.canvas:active .shadow {
  opacity: 0;
}

.shadow {
  width: 100%;
  height: 15%;
  background: radial-gradient(farthest-side, #0008, #0000);
  border-radius: 50%;
  bottom: -4%;
  left: -5%;
  filter: blur(1vmin);
}

@keyframes snowfall {
  to {
    transform: translate(0, calc(var(--size) * 0.77));
  }
}

.snowflake {
  left: 50%;
  top: -5%;
  width: 2%;
  height: 2%;
  background: white;
  border-radius: 50%;
  box-shadow: inset 0.25vmin -0.25vmin 0.25vmin #0002;
  animation: snowfall 5s 1 forwards;
}

.snowflake:nth-child(3n) {
  z-index: 1;
}
.snowflake:nth-child(1) {
  left: 25%;
  animation-delay: 1s;
}
.snowflake:nth-child(2) {
  left: 20%;
  animation-delay: 2s;
}
.snowflake:nth-child(3) {
  left: 30%;
  animation-delay: 3s;
}
.snowflake:nth-child(4) {
  left: 40%;
  animation-delay: 4s;
}
.snowflake:nth-child(5) {
  left: 50%;
  animation-delay: 5s;
}
.snowflake:nth-child(6) {
  left: 60%;
  animation-delay: 1.5s;
}
.snowflake:nth-child(7) {
  left: 70%;
  animation-delay: 2.5s;
}
.snowflake:nth-child(8) {
  left: 80%;
  animation-delay: 3.5s;
}
.snowflake:nth-child(9) {
  left: 75%;
  animation-delay: 4.5s;
}
.snowflake:nth-child(11) {
  left: 28%;
  animation-delay: 5.5s;
}
.snowflake:nth-child(12) {
  left: 19%;
  animation-delay: 0.5s;
}
.snowflake:nth-child(13) {
  left: 38%;
  animation-delay: 1.2s;
}
.snowflake:nth-child(14) {
  left: 48%;
  animation-delay: 2.2s;
}
.snowflake:nth-child(15) {
  left: 58%;
  animation-delay: 3.2s;
}
.snowflake:nth-child(16) {
  left: 68%;
  animation-delay: 4.2s;
}
.snowflake:nth-child(17) {
  left: 78%;
  animation-delay: 1.7s;
}
.snowflake:nth-child(18) {
  left: 82%;
  animation-delay: 2.7s;
}
.snowflake:nth-child(19) {
  left: 65%;
  animation-delay: 3.7s;
}
.snowflake:nth-child(20) {
  left: 54%;
  animation-delay: 4.7s;
}
.snowflake:nth-child(21) {
  left: 24%;
  animation-delay: 0.25s;
}
.snowflake:nth-child(22) {
  left: 24%;
  animation-delay: 0.5s;
}
.snowflake:nth-child(23) {
  left: 34%;
  animation-delay: 0.75s;
}
.snowflake:nth-child(24) {
  left: 44%;
  animation-delay: 0.6s;
}
.snowflake:nth-child(25) {
  left: 54%;
  animation-delay: 2.75s;
}
.snowflake:nth-child(26) {
  left: 64%;
  animation-delay: 1.75s;
}
.snowflake:nth-child(27) {
  left: 74%;
  animation-delay: 3.75s;
}
.snowflake:nth-child(28) {
  left: 84%;
  animation-delay: 1.4s;
}
.snowflake:nth-child(29) {
  left: 74%;
  animation-delay: 2.4s;
}
.snowflake:nth-child(30) {
  left: 17%;
  animation-delay: 3.4s;
}

.canvas:active .snowflake {
  animation: none;
}

.something {
  width: 50%;
  height: 50%;
  left: 50%;
  bottom: 23%;
  transform: translate(-50%, 0);
  background: radial-gradient(circle at 45% 22%, #222 3%, #0000 0),
    radial-gradient(circle at 58% 22%, #222 3%, #0000 0),
    radial-gradient(circle at 58% 60%, #222 3%, #0000 0),
    radial-gradient(circle at 60% 70%, #222 2.75%, #0000 0),
    radial-gradient(circle at 58% 80%, #222 2.5%, #0000 0),
    conic-gradient(at 100% 50%, #0000 260deg, orange 0 280deg, #0000 0) 60% 25% /
      15% 15%,
    linear-gradient(30deg, #0000 40%, brown 0 50%, #0000 0) 100% 70% / 20% 20%,
    linear-gradient(0deg, #0000 40%, brown 0 60%, #0000 0) 100% 70% / 10% 10%,
    linear-gradient(60deg, #0000 40%, brown 0 55%, #0000 0) 100% 74% / 10% 10%,
    linear-gradient(-30deg, #0000 40%, brown 0 50%, #0000 0) 5% 67% / 20% 20%,
    linear-gradient(20deg, #0000 40%, brown 0 60%, #0000 0) 5% 65% / 10% 10%,
    linear-gradient(130deg, #0000 40%, brown 0 60%, #0000 0) 6% 72% / 10% 10%,
    radial-gradient(circle at 50% 25%, #fff, #eee 22%, #0000 0),
    radial-gradient(circle at 50% 30%, #000, #0000 20%),
    radial-gradient(circle at 50% 70%, #fff, #eee 40%, #0000 0);
  background-repeat: no-repeat;
}
/* End of snowglobe */

/* Santa in a helicopter */
.container {
  height: 480px;
  width: 350px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(240%, -45%);
  position: absolute;
  top: 50%;
  left: 50%;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
.plane {
  position: relative;
  -webkit-animation: float 3s infinite;
  animation: float 3s infinite;
}
@-webkit-keyframes float {
  50% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
}
@keyframes float {
  50% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
}
.hand {
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-animation: wave 1.5s infinite;
  animation: wave 1.5s infinite;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.blade {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  -webkit-transform-origin: 50% 54%;
  -ms-transform-origin: 50% 54%;
  transform-origin: 50% 54%;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}
@-webkit-keyframes wave {
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}
@keyframes wave {
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}
/* End of santa in a helicopter */

form {
  background-color: rgba(255, 243, 243, 0.349);
  background-image: url("./copy-toni-cuenca-CvFARq2qu8Y-unsplash.jpg");
  background-size: 1300px;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  border-radius: 0.2rem;
  justify-self: center;
  width: 80%;
  /* padding-left: 5%; */
  padding-top: 0.1%;
  padding-left: 5%;
  padding-bottom: 4%;
}

p {
  font-family: "Karla", sans-serif;
  color: rgb(250, 215, 215);
  letter-spacing: 0.02rem;
  font-size: 125%;
  font-weight: 500;
}

#fname {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
}

/* 
#firstInput {
  width: 1%;
  padding: 1rem 1rem;
} */

textarea {
  resize: none;
  border-radius: 5px;
}

#beHonest {
  font-size: 80%;
  letter-spacing: 0.05rem;
  font-family: "Karla", sans-serif;
  margin-left: 2rem;
}

label {
  font-family: "Karla", sans-serif;
  letter-spacing: 0.02rem;
  font-size: 110%;
  color: rgb(226, 211, 211);
  font-weight: 400;
}

#gifts {
  font-size: 110%;
}

button {
  width: 15%;
  padding: 0.25rem 0.5rem;
  background-color: rgb(235, 235, 235);
  font-family: "Karla", sans-serif;
  font-size: 100%;
  letter-spacing: 0.02rem;
}

#button4 {
  font-family: "Karla", sans-serif;
  font-size: 110%;
}

#button5 {
  font-family: "Karla", sans-serif;
  cursor: not-allowed;
  font-size: 110%;
}
